

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=
CLOUDINARY_UPLOAD_PRESET=

# Frontend Webhook Notifications
FRONTEND_WEBHOOK_URL=your_frontend_webhook_url_here
FRONTEND_WEBHOOK_SECRET=your_frontend_webhook_secret_here
