

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_FOLDER=
CLOUDINARY_UPLOAD_PRESET=

# Frontend Webhook Notifications
BACKEND_API_URL=
# If using HMAC webhook verification
FRONTEND_WEBHOOK_SECRET=

