

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_FOLDER=
CLOUDINARY_UPLOAD_PRESET=

# Frontend Webhook Notifications
FRONTEND_WEBHOOK_SECRET=your_frontend_webhook_secret_here
BACKEND_API_URL=